<div id="container">
    <div class="nav">
        <nav>
            <ul>
                <li><a ng-href="#/">Home</a></li>
                <li><a ng-href="#/menus">Menus</a></li>
                <li><a ng-href="#/products">Products</a></li>
                <li><a ng-href="#/user">User</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <hr>
        <h2 class="title">Main Menus</h2>
        <span class="info">Info: After adding new main menu, please contact to your web developer.</span>
        <div class="homecontent">
            <div class="addmenu">
                <p class="title">Add menu to site</p>
                <form action="/addnewmenu" method="post">
                    <table>
                        <tr>
                            <td>
                                <input class="input" type="text" name="newmenu" placeholder="Enter New Menu">
                                <button class="button">Add Menu</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="allmenus">
                <button class="button" ng-click="getAllMenus()">Show All Menus</button>
                <div ng-show="update" class="updatemenu">
                    <input type="text" class="input" ng-model="editedmenu" placeholder="Edit Menu Here">
                    <button class="button" ng-click="editMenu(editedmenu)">Done</button>
                </div>
                <div class="menus" ng-repeat="menu in menus">
                    <span class="menu">{{menu.menu}}</span>
                    <span class="cursor" ng-click="deleteMenu(menu._id)">X</span>
                    <span class="cursor" ng-click="updateMenu(menu._id)">--</span>
                </div>
                <span class="info">{{menusinfo}}</span>
                <span>{{submenudata.data}}</span>
                <span>{{submenuerr}}</span>
                <span>{{menudata.data}}</span>
                <span>{{menuerr}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="submenus">
        <h2 class="title">Sub Menus</h2>
        <div class="homecontent">
            <div class="addmenu">
                <p class="title">Add sub-menu to site</p>
                <table>
                    <tr>
                        <td>
                            <input class="input" type="text" name="newsubmenu" ng-model="newsubmenu" placeholder="Enter New SubMenu">
                            <select class="selectmenu" name="mainmenu" ng-model="mainmenu" ng-options="menu.menu for menu in allmenus">
                                <option value="" ng-selected="true">Select Main Menu</option>
                            </select>
                            <button class="button submenubutton" ng-click="addSubMenu()">Add Sub Menu</button>
                            <span class="info" ng-show="selectmainmenu">Please select main menu</span>
                            <span class="info">{{submenuinfo}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="allmenus">
                <select class="selectmenu" name="mainmenu2" ng-model="mainmenu2" ng-options="menu.menu for menu in allmenus">
                    <option value="" ng-selected="true">Select Main Menu</option>
                </select>
                <button class="button" ng-click="getAllSubMenus()">Show All SubMenus</button>
                <div ng-show="update2" class="updatemenu">
                    <input type="text" class="input" ng-model="editedsubmenu2" placeholder="Edit SubMenu Here">
                    <button class="button" ng-click="editSubMenu2(editedsubmenu2)">Done</button>
                </div>
                <div class="menus" ng-repeat="submenu in submenusdata">
                    <span class="menu">{{submenu.name}}</span>
                    <span class="cursor" ng-click="deleteSubMenu(submenu._id)">X</span>
                    <span class="cursor" ng-click="updateSubMenu(submenu._id)">--</span>
                </div>
                <span class="info">{{submenuupdateinfo}}</span>
                <span class="info">{{submenusdatainfo}}</span>
                <span class="info">{{submenusinfo}}</span>
                <span class="info" ng-show="selectmainsubmenu">Please select main menu</span>
            </div>
        </div>
    </div>
</div>