<div id="container">
    <div class="nav">
        <nav>
            <ul>
                <li><a ng-href="#/">Home</a></li>
                <li><a ng-href="#/menus">Menus</a></li>
                <li><a ng-href="#/products">Products</a></li>
                <li><a ng-href="#/user">User</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <div id="products">
            <div class="addProduct">
                <form action="/pro/addnewproduct" method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td>
                                <input type="text" class="input name" placeholder="Enter Product Name" ng-model="proTitle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="price" placeholder="Price" ng-model="proPrice">
                                <input type="number" class="discount" placeholder="Discount" ng-model="proDiscount">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="pincodes input" placeholder="Delivery Available Pincodes (Ex: 110093,110095)"
                                    ng-model="proAvailablity">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="description" cols="60" rows="6" maxlength="250" ng-model="proDescription"
                                    placeholder="Enter Description Here (Max 250 Words)"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" name="Image_1">
                                <input type="file" name="Image_2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" name="Image_3">
                                <input type="file" name="Image_4">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="specification" cols="80" rows="20" maxlength="550" ng-model="proSpecification"
                                    placeholder="Enter Product Specification in Details (Max 500 Words)"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="selectmenu" ng-model="mainmenu" ng-options="menu.menu for menu in allmenus"
                                    ng-change="getSubMenus(mainmenu.menu)">
                                    <option value="" ng-selected="true">Select Main Menu</option>
                                </select>
                                <select class="selectmenu" ng-model="submenu">
                                    <option value="" ng-selected="true">Select Sub Menu</option>
                                    <option value="{{submenu.name}}" ng-repeat="submenu in submenus">{{submenu.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Trusted</p>
                                <input type="radio" ng-model="trusted" ng-value="true" value="true"> Yes
                                <br>
                                <input type="radio" ng-model="trusted" ng-value="false" value="false">
                                No <br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                                <input type="submit" class="button" ng-click="addProduct()" value="Add Product">
                            </td>
                        </tr>
                    </table>
                </form>
                <button class="button" ng-click="test()">TEST</button>
                <h1>{{arbaz}}</h1>
            </div>
        </div>
    </div>
</div>