* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.cursor {
  cursor: pointer;
}

.info {
  text-align: center;
  display: block;
}

#container {
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0px 10px;
}

#container .nav {
  text-align: center;
}

a {
  text-decoration: none;
}

ul li {
  transition: 0.3s linear;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 8px 20px;
  margin: 0px 10px;
  list-style: none;
  display: inline-block;
}

ul li:hover {
  cursor: pointer;
  background-color: lightblue;
}

.input {
  width: 300px;
  padding: 8px;
  border: 1px solid silver;
  border-radius: 3px;
}

.button {
  cursor: pointer;
  margin: 0px 10px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 8px 20px;
  /* height: 25px; */
}

/* Home CSS */

.title {
  text-align: center;
}

.homecontent {
  display: flex;
  justify-content: center;
}

.homecontent .addmenu,
.allmenus {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 20px;
}

.homecontent .addmenu .title {
  font-size: 16px;
}

#allmenus .menu {
  display: block;
}

.homecontent .allmenus .menus {
  text-align: left;
}

.homecontent .allmenus .updatemenu {
  margin: 20px 0px;
}

.submenubutton {
  margin: 20px 10px;
}

.selectmenu {
  padding: 7px 10px;
}

/* Product Section --------------------- */

#products {
  margin: 10px 30px;
}

#products .input {
  width: 400px;
}

#products .price,
.discount {
  width: 100px;
  padding: 8px;
  border: 1px solid silver;
  border-radius: 3px;
}

#products .price::-webkit-inner-spin-button,
#products .price::-webkit-outer-spin-button,
#products .discount::-webkit-inner-spin-button,
#products .discount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#products .description {
  width: 600px;
  height: 200px;
  border: 1px solid silver;
  border-radius: 3px;
}

#products .pincodes {
  width: 500px;
}

#products .specification,
.description {
  border: 1px solid silver;
  border-radius: 3px;
}

/* Carousel Start ---------------------- */

#carousel .caroUpload {
  border: 1px solid silver;
  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#carousel .caroImages {
  border: 1px solid silver;
  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#caro .caroImage {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: auto;
  margin: 10px;
}

/* Carousel End --------------------------- */
